<div id="main" class="component out">
    <header>
        <h1>Seeds of Growth</h1>
        <div class="hamburger">
            <button onclick="app.current.code.toggleMenu()"><i class="fas fa-bars"></i></button>
        </div>
    </header>
    <div class="menu-back hidden" onmousedown="app.current.code.menuBackClick(event)">
        <div class="menu" onmousedown="app.current.code.menuClick(event)">
            <ul>
                <li><a href="#"><i class="fas fa-leaf"></i>Plant a seed</a></li>
                <li><a href="#"><i class="fas fa-star"></i>My seeds</a></li>
                <li><a href="#"><i class="fas fa-cog"></i>Settings</a></li>
                <li><a href="#"><i class="fas fa-info-circle"></i>About</a></li>
            </ul>
        </div>
    </div>
    <div class="content">
        <div class="seed">
            <div class="profile">
                <img class="profileImage" src="../../assets/ranN.jpg" alt="Ran Nahum">
                <p class="profileName">Ran Nahum</p>
            </div>
            <div class="videoDescription">This is a short description of the videos.</div>
            <div class="videoHolder">
                <div class="videoDate">24/7/2019</div>
                <video controls>
                    <source src="http://techslides.com/demos/sample-videos/small.mp4" type="video/mp4">
                    Your browser does not support HTML5 video.
                </video>
                <div class="videoLikes">22 <i class="fas fa-thumbs-up"></i></div>
            </div>
            <div class="contorls">
                <div class="float-left">
                    <button class="myButton"><i class="fas fa-thumbs-up"></i> Like</button>
                    <button class="myButton"><i class="fas fa-share-alt"></i> Share</button>
                </div>
                <div class="float-right">
                    <button class="myButton"><i class="fas fa-star"></i></button>
                    <button class="myButton"><i class="fas fa-check"></i></button>
                </div>
            </div>
        </div>
    </div>
</div>