<script type="text/html" id="seed_template">
    <div class="seed">
        <div class="profile">
            <img class="profileImage" src="./assets/{image}" alt="{name}">
            <p class="profileName">{name}</p>
        </div>
        <div class="videoDescription">{description}</div>
        <div class="videoHolder">
            <div class="videoDate">{date}</div>
            <video controls>
                    <source src="{source}" type="video/mp4">
                    Your browser does not support HTML5 video.
                </video>
            <div class="videoLikes">{likes} <i class="fas fa-thumbs-up"></i></div>
        </div>
        <div class="tags">
            {tags}
        </div>
        <div class="contorls">
            <div class="float-left">
                <button class="myButton value-{liked}" data-seed="{id}" data-prop="liked" onclick="app.current.code.toggleChecked(this);"><i class="fas fa-thumbs-up"></i> Like</button>
                <button class="myButton"><i class="fas fa-share-alt"></i> Share</button>
            </div>
            <div class="float-right">
                <button class="myButton value-{favorite}" data-seed="{id}" data-prop="favorite" onclick="app.current.code.toggleChecked(this)"><i class="fas fa-star"></i></button>
                <button class="myButton value-{watched}" data-seed="{id}" data-prop="watched" onclick="app.current.code.toggleChecked(this)"><i class="fas fa-check"></i></button>
            </div>
        </div>
    </div>
</script>
<div id="main" class="component out">
    <header>
        <h1>Seeds of Growth</h1>
        <div class="header-icon hamburger">
            <button onclick="app.current.code.toggleMenu()"><i class="fas fa-bars"></i></button>
        </div>
        <div class="header-icon search">
            <button onclick="app.current.code.toggleSearch()"><i class="fas fa-search"></i></button>
        </div>
    </header>
    <div class="search-panel hidden" onmousedown="app.current.code.toggleSearch()">
        <div class="searchbox-holder" onmousedown="app.current.code.menuClick(event)">
            <input type="text">
            <p>Search for tags or users</p>
        </div>
    </div>
    <div class="menu-back hidden" onmousedown="app.current.code.menuBackClick(event)">
        <div class="menu" onmousedown="app.current.code.menuClick(event)">
            <ul>
                <li><a href="#" onclick="javascript:app.current.code.upload(event)"><i class="fas fa-leaf"></i>Plant a seed</a></li>
                <li><a href="#"><i class="fas fa-star"></i>My seeds</a></li>
                <li><a href="#"><i class="fas fa-cog"></i>Settings</a></li>
                <li><a href="#" onclick="javascript:app.current.code.about(event)"><i class="fas fa-info-circle"></i>About</a></li>
            </ul>
        </div>
    </div>
    <div class="content">
    </div>
</div>